/* border style being displayed*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*background color*/ 
body {
    background-color: #d9dcd6;
}

/*the heading on top of the site*/
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}
/* displays the title*/ 
header h1 {
    display: inline-block;
    font-size: 48px;
}
/*title being displayed on top/left side of site*/
header h1 .seo {
    color: #d9dcd6;
}

/*the style, size, and position of the header on the upper right side of site*/
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/*the style type on the upper right side of site of the items on list*/
header nav ul {
    list-style-type: none;
}

/*the display and margin applied list item that follows higher higearchy*/
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/*the color and text decoration of*/ 
a {
    color: #ffffff;
    text-decoration: none;
}

/*the size of font in text*/
p {
    font-size: 16px;
}

/*the position, size, margin, width, and height of the first image being used on the site*/ 
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}

/*the direction the img is being displayed at*/
.float-left {
    float: left;
    margin-right: 25px;
}

/*the direction the img is being displayed at*/
.float-right {
    float: right;
    margin-left: 25px;
}

/*changed to main moved content class*/
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}
/*column on right side with benefits*/ 
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}
/*consilidated to one class main*/ 
.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}

/*the position of the first header inside the column display on the right side of the site*/
.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}

/*the margin and maxwidth of the first image inside the column on right side of site*/
.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/*first border style on left side of the site*/
.content {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*first img inside first border on left side of site*/
.content img {
    max-height: 200px;
}
/*first title displayed inside border on left side of site*/
.content h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/*footer at the bottom of site*/
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
/*first statement on the footer*/
footer h2 {
    font-size: 20px;
}
